{% extends "layout.html" %}	
{% block body %}
<!--register page-->
<form name=userRegister action="{{ url_for('resetPassword',username=username) }}" method=POST>
<dl>
<dt>Reset password for: {{username}}
<dt>New Password:<sml>10-50 characters</sml></dt>
<dt><input type="password" name="newPassword"></dt>
<dt>Confirm New Password:</dt>
<dt><input type="password" name="newPasswordConfirm"></dt>
<input type="submit" value=Reset>
<a href="{{ url_for('admin') }}"><input type="button" name="Cancel" value=Cancel></a>
</form>
<div class=logout>
<a href="{{ url_for('welcome') }}">back</a>
</div>
{% endblock %}