{% extends "budg_layout.html" %}
{% block body %}

<!--ADD IDEA-->

<fieldset><center><a href="{{ url_for('welcome') }}">Home</a> </center></fieldset>
<form name=newExpense action="{{ url_for('adExpense') }}" method=POST>
<fieldset>
<legend>Expense Data</legend>
{{form.hidden_tag()}}

Account: <br>
{{form.account}}<br>

Title:<sml>3-15 characters</sml>{% for error in form.errors.title %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.title(size=15)}}<br>

Amount: {% for error in form.errors.entVal %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.entVal(size=10)}}<br>

End Date<sml> (YYYY-MM-DD)</sml>: {% for error in form.errors.eDate %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.eDate}}<br>

<br>
<input type=submit value="Submit" name="Submit"><input type=reset value="Clear" name="Clear">
</fieldset>
</form>

{% endblock %} 