{% extends "budg_layout.html" %}
{% block body %}

<!--ADD IDEA-->


<fieldset><center><a href="{{ url_for('welcome') }}">Home</a> </center></fieldset>
<form name=editAccount action="{{ url_for('edAccount',id=accData.id) }}" method=POST>
<fieldset>
<legend>Edit Account: {{accData.name}} </legend>
{{form.hidden_tag()}}


Title:<sml>3-15 characters</sml>{% for error in form.errors.title %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.title(size=20)}}<br>


Amount: {% for error in form.errors.entVal %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.entVal(size=10,default=form.entVal.default)}}<br>


Date<sml> (YYYY-MM-DD)</sml>: {% for error in form.errors.entDate %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.entDate}}<br>

Low Value: {% for error in form.errors.entLow %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.entLow(size=10)}}<br>
<br>
<dt><input type=submit value="Submit" name="Submit"><input type=reset value="Clear" name="Clear">
</fieldset>
</form>

{% endblock %} 