{% extends "budg_layout.html" %}
{% block body %}

<!--ADD IDEA-->

<fieldset><center><a href="{{ url_for('welcome') }}">Home</a> </center></fieldset>
<form name=editAccount action="{{ url_for('edAccount',id=accData.id )}}" method=POST>
<fieldset>
<legend>Account Data</legend>
<dl>
<dt>Title:<sml>3-15 characters</sml>
<dt><textarea name="title" rows="1" cols="20">{{accData.title}}</textarea>
<dt>Amount:
<dt><textarea name="entVal" rows="1" cols="10" maxlength='10'>{{accData.entVal}}</textarea>
<dt>Date:
<dt><textarea name="entM" rows="1" cols="2" maxlength='2'>{% if accData.entDate.month is less10 %}0{{accData.entDate.month}}{% else %}{{accData.entDate.month}}{% endif %}</textarea> /
<textarea name="entD" rows="1" cols="2" maxlength='2'>{% if accData.entDate.day is less10 %}0{{accData.entDate.day}}{% else %}{{accData.entDate.day}}{% endif %}</textarea>
 /
<textarea name="entY" rows="1" cols="4" maxlength='4'>{{accData.entDate.year}}</textarea>
<dt>Low Value:
<dt><textarea name="entLow" rows="1" cols="10" maxlength='10'>{{accData.lowVal}}</textarea>
<br>
<dt><input type=submit value="Submit" name="Submit"><input type=reset value="Clear" name="Clear">
</fieldset>
</form>

{% endblock %} 