{% extends "budg_layout.html" %}
{% block body %}

<!--ADD IDEA-->

<fieldset><center><a href="{{ url_for('welcome') }}">Home</a> </center></fieldset>
<form name=newCashFlow action="{{ url_for('adCashFlow') }}" method=POST>
<fieldset>
<legend>CashFlow Data</legend>
{{form.hidden_tag()}}

Account: <br>
{{form.account}}<br>

Title:<sml>3-15 characters</sml>{% for error in form.errors.title %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.title(size=20)}}<br>


Amount: {% for error in form.errors.entVal %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.entVal(size=10)}}<br>


Start Date<sml> (YYYY-MM-DD)</sml>: {% for error in form.errors.sDate %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.sDate}}<br>

End Date<sml> (YYYY-MM-DD)</sml>: {% for error in form.errors.eDate %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.eDate}}<br>

Recurring Type: {% for error in form.errors.rType %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}<br>
{{form.rType}}<br>

Recur Rate: {% for error in form.errors.rRate %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}
{{form.rRate}}<br>

Estimate: {% for error in form.errors.entLow %}
<span style='color: red;'>[{{error}}]</span>
{% endfor%}
{{form.est}}<br>
<br>
<input type=submit value="Submit" name="Submit"><input type=reset value="Clear" name="Clear">
</fieldset>
</form>

{% endblock %} 