{% extends "layout.html" %}	
{% block body %}
<!--register page-->
<form name=userRegister action="{{ url_for('editPassword') }}" method=POST>
<dl>
<dt>Old Password:</dt>
<dt><input type="password" name="oldPassword"></dt>
<dt>New Password:<sml>10-50 characters</sml></dt>
<dt><input type="password" name="newPassword"></dt>
<dt>Confirm New Password:</dt>
<dt><input type="password" name="newPasswordConfirm"></dt>
<input type="submit" value=Register>
</form>
<div class=logout>
<a href="{{ url_for('welcome') }}">back</a>
</div>
{% endblock %}